@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "KG Blank Space";
    src:
        url("/assets/fonts/KGBlankSpaceSolid.ttf") format("truetype");
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

a {
    @apply
        text-lime-400
        transition-all
        py-1
        visited:text-lime-200
        focus:bg-lime-950
        focus:underline
        hover:underline
        hover:bg-lime-950
        rounded
    ;
}
